*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.wrapper{
    height: 100vh;
    width: 100vw;

}
.container-left{
    display:inline-block;
    width: 60%; 
    padding-left: 136px;
    margin-top: 30px;

}
.container-right{
    display:inline-block;
    height: 100vh;
    position: absolute;
    margin-top: 164px;
}
img{
    position: relative;
    top:25%;
    right:  130px;
    
}

h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
    width: 582px;
}
p{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
    margin: 493px 99;
    width: 540px;
}
button{
    width: 124px;
    height: 51px;
    background: #15f145;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #FFFF;
    cursor: pointer;
}
a{
    font-size: 18px;
    line-height: 41px;
    color: #5D5D7D;
    margin-right: 41px ;
    cursor: pointer;
}

a:nth-child(2){
    opacity: .4;
}
a:hover {
    opacity: ;4;
}
a:active {
    opacity: .8;
}
header {
    margin: 24px 0 0 57px;
}

@media screen and (max-width: 900px){
    .container-left {
        width: 100%;
        height: 50px;
        padding: 0;
        margin: 0;
    }
    .container-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;

    }
    img {
        position: static;
        max-width: 90%;
    }
    header {
        display: none;
    }
    h1 {
        font-size: 30px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;

}
 p {
    margin: 15px 40px;
    width: auto;
    text-align: center;
    font-size: 14px;
    line-height: 24px;

 }
 button {
    margin: 0 auto;
    display: block;
 }
 @media screen and (max-width: 330px) {
    .container-left {
        height: 70%;
    }

 }